@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Index2";
}
@*/ TODO Add the Fantastic Font for search button*@
<h1>Vehicles</h1>

<form asp-controller="Vehicles" asp-action="Index2" method="get">
    <div class="input-group mt-3">
        <input type="text" name="regnum" class="form-control" placeholder="Search Registration Number" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-danger"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Regnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Receipt" asp-route-id="@item.Id">Receipt</a> |
            </td>
        </tr>
}
    </tbody>
</table>
