@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Index2";
}
@*/ TODO Add the Fantastic Font for search button*@




<h1>Vehicles</h1>

<p>
    Search for your vehicle
</p>

@if (TempData["Empty"] != null)
{
    <p class="text-danger">@TempData["Empty"].ToString()</p>

}

@using (Html.BeginForm())
{
    <form asp-controller="Vehicles" asp-action="Index2" method="get">
        <div class="input-group mt-3">
            <input type="text" name="regnum" class="form-control" placeholder="Search Registration Number" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-danger"><i class="fa fa-search">&emsp;Search</i></button>
            </div>
        </div>
    </form>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Regnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkedTime)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null && Model.Count() > 0)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>                        
                        <a onclick="AlertName('@String.Format("{0} {1}", item.Regnum, item.Model)')" href="#">@String.Format("{0}", item.Regnum)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Arrivaldate)
                    </td>
                    <td>
                        @*Html.DisplayFor(modelItem => item.ParkedTime.ToString())*@
                        @*TODO @Html.DisplayFor(modelItem => item.ParkedTime.ToString(@"dd\:hh\:mm"))*@
                        @if (item.ParkedTime > new TimeSpan(3,0,0,0,0))
                        {

                            <span style="color:red;">*Warning* @item.ParkedTime.ToString(@"dd\:hh\:mm")</span>
                            
                        }
                        else
                        {
                        <span style="color:green;">@item.ParkedTime.ToString(@"dd\:hh\:mm") </span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Receipt" asp-route-id="@item.Id">Collect / Receipt</a> |
                    </td>
                </tr>
            }
        </tbody>
    }
</table>


<div class="mt-3">

    <a asp-action="Index"><i>Back to Main Menu</i></a>
</div>