@model ListViewModel

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<div>
    <font class="m-3"><span class="font-weight-bold">Cars in garage:</span> @Model.CarCount</font>
    <font class="m-3"><span class="font-weight-bold">Buses in garage:</span> @Model.BusCount</font>
    <font class="m-3"><span class="font-weight-bold">Boats in garage:</span> @Model.BoatCount</font>
    <font class="m-3"><span class="font-weight-bold">Motorcycles in garage:</span> @Model.MotorcycleCount</font>
    <font class="m-3"><span class="font-weight-bold">Airplanes in garage:</span> @Model.AirplaneCount</font>
</div>

<div>
    <font class="m-3"><span class="font-weight-bold">Vehicles in garage:</span> @Model.VehicleCount</font>
    <font class="m-3"><span class="font-weight-bold">Wheels in garage:</span> @Model.WheelCount</font>
    <font class="m-3"><span class="font-weight-bold">Current revenue from vehicles in garage:</span> @Model.Revenue</font>
</div>
<br />
<p>
    <a asp-action="Index2">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Arrival Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrivaldate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Collect / Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
