@model ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Regnum)
        </dt>
        <dd class="col-sm-10">
            @Model.Regnum
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Model.Model
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Arrivaldate)
        </dt>
        <dd class="col-sm-10">
            @Model.Arrivaldate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leavingdate)
        </dt>
        <dd class="col-sm-10">
            @Model.Leavingdate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Model.ParkingTime.ToString(@"dd\:hh\:mm") Days:Hours:Minutes
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price) 
        </dt>
        <dd class="col-sm-10">
            @Model.Price SEK
        </dd>
    </dl>
</div>
<div>
    @*<a href="javascript:window.print()">Click to Print This Page</a>*@
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @*<input type="submit" value="Collect and Print Receipt" class="btn btn-danger" href="javascript:window.print()" /> |*@
        <input type="submit" value="Collect and Print Receipt" class="btn btn-danger" onclick="window.print();return false;" /> |
        @*<embed type="application/pdf"
        src="path_to_pdf_document.pdf"
        id="pdfDocument"
        width="100%"
        height="100%" />*@
        @*function printDocument(documentId) {
        var doc = document.getElementById(documentId);

        //Wait until PDF is ready to print
        if (typeof doc.print === 'undefined') {
        setTimeout(function(){printDocument(documentId);}, 1000);
        } else {
        doc.print();
        }
        }*@
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Collect Without Receipt" class="btn btn-info" />
    </form>
    <div>
        <br />
        <a asp-action="Index"><i>Back to Main Page</i></a>
    </div>
</div>
